apiVersion: v1
kind: Service
metadata:
  name: genesis-frontend
  labels:
    app: genesis-frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: genesis-frontend
